{{#> base }}
{{> AppSidebar/sidebar dashboards-eg-1=this }}
<div class="app-main__outer">
    <div class="app-main__inner">
        {{> AppMain/page-title }}
        <div class="row">
            <div class="col-md-6 col-xl-4">
                <div class="card mb-3 widget-content bg-midnight-bloom">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">物理机</div>
                            <div class="widget-subheading">Physical Machine</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white"><span>1896</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="card mb-3 widget-content bg-arielle-smile">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">虚拟机</div>
                            <div class="widget-subheading">Virtual Machine</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white"><span>3112</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="card mb-3 widget-content bg-grow-early">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">容器</div>
                            <div class="widget-subheading">Docker Container</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white"><span>101</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/ base }}