<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.finance.report.repo.mapper.FinanceBuyoutCumulativePartnersReportMapper">
  <!--查询公用字段-->
  <sql id="Query_Pub_Select_List">
    SELECT
     fbcpr.funding_party fundingParty,
     fbcpr.channel_type channelType,
     fbcpr.channel_name channelName,
     fbcpr.product_type productType,
     fbcpr.buyout_date buyoutDate,
     fbcpr.principal_amount principalAmount,
     fbcpr.interest_amount interestAmount,
     fbcpr.penalty_amount penaltyAmount,
     fbcpr.service_amount serviceAmount,
     fbcpr.principal_amount+fbcpr.interest_amount+fbcpr.penalty_amount+fbcpr.service_amount totalAmount
    FROM
    finance_buyout_cumulative_partners_report fbcpr
  </sql>

  <!--查询公用条件-->
  <sql id="Where_Pub_Column">
    <where>
      1=1
      <if test="list.fundingParty != null and list.fundingParty !=''">
        AND fbcpr.funding_party = #{list.fundingParty}
      </if>
      <if test="list.channelType != null and list.channelType != ''">
        AND fbcpr.channel_type = #{list.channelType}
      </if>
      <if test="list.channelName != null and list.channelName != ''">
        AND fbcpr.channel_name = #{list.channelName}
      </if>
      <if test="list.productType != null and list.productType != ''">
        AND fbcpr.product_type = #{list.productType}
      </if>
      <if test="list.buyoutDateStart != null and list.buyoutDateStart !=''">
        AND fbcpr.buyout_date &gt;= #{list.buyoutDateStart}
      </if>
      <if test="list.buyoutDateEnd != null and list.buyoutDateEnd !=''">
        AND fbcpr.buyout_date &lt;= #{list.buyoutDateEnd}
      </if>
    </where>
  </sql>

  <!--分页查询买断表-->
  <select id="selectBuyoutCumulativePartnersReport"  resultType="com.platform.finance.report.repo.ro.FinanceBuyoutCumulativePartnersReportListRO">
    <include refid="Query_Pub_Select_List"/>
    <include refid="Where_Pub_Column"/>
  </select>

  <!--导出买断表-->
  <select id="exportBuyoutCumulativePartnersReport"  resultType="com.platform.finance.report.repo.ro.FinanceBuyoutCumulativePartnersReportListRO">
    <include refid="Query_Pub_Select_List"/>
    <include refid="Where_Pub_Column"/>
  </select>
</mapper>