<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.finance.report.repo.mapper.FinanceCumulativeMaturityReportMapper">
  <!--查询公用字段-->
  <sql id="Query_Pub_Select_List">
    SELECT
     fcmr.funding_party fundingParty,
     fcmr.channel_type channelType,
     fcmr.channel_name channelName,
     fcmr.is_drainage isDrainage,
     fcmr.product_type productType,
     fcmr.product_child_type productChildType,
     fcmr.pay_type payType,
     fcmr.pay_date payDate,
     fcmr.repay_date repayDate,
     fcmr.principal_amount principalAmount,
     fcmr.interest_amount interestAmount,
     fcmr.penalty_amount penaltyAmount,
     fcmr.service_amount serviceAmount,
     fcmr.prepare_amount prepareAmount,
     fcmr.principal_amount+fcmr.interest_amount+fcmr.penalty_amount+fcmr.service_amount+fcmr.prepare_amount totalAmount
    FROM
    finance_cumulative_maturity_report fcmr
  </sql>

  <!--查询公用条件-->
  <sql id="Where_Pub_Column">
    <where>
      1=1
      <if test="list.fundingParty != null and list.fundingParty !=''">
        AND fcmr.funding_party = #{list.fundingParty}
      </if>
      <if test="list.channelType != null and list.channelType != ''">
        AND fcmr.channel_type = #{list.channelType}
      </if>
      <if test="list.channelName != null and list.channelName != ''">
        AND fcmr.channel_name = #{list.channelName}
      </if>
      <if test="list.productType != null and list.productType != ''">
        AND fcmr.product_type = #{list.productType}
      </if>
      <if test="list.productChildType != null and list.productChildType != ''">
        AND fcmr.product_child_type = #{list.productChildType}
      </if>
      <if test="list.payDateStart != null and list.payDateStart !=''">
        AND fcmr.pay_date &gt;= #{list.payDateStart}
      </if>
      <if test="list.payDateEnd != null and list.payDateEnd !=''">
        AND fcmr.pay_date &lt;= #{list.payDateEnd}
      </if>
      <if test="list.payType != null and list.payType != ''">
        AND fcmr.pay_type = #{list.payType}
      </if>
      <if test="list.repayDateStart != null and list.repayDateStart !=''">
        AND fcmr.repay_date &gt;= #{list.repayDateStart}
      </if>
      <if test="list.repayDateEnd != null and list.repayDateEnd !=''">
        AND fcmr.repay_date &lt;= #{list.repayDateEnd}
      </if>
    </where>
  </sql>

  <!--分页查询到期表-->
  <select id="selectCumulativeMaturityReport"  resultType="com.platform.finance.report.repo.ro.FinanceCumulativeMaturityReportListRO">
    <include refid="Query_Pub_Select_List"/>
    <include refid="Where_Pub_Column"/>
  </select>

  <!--导出到期表-->
  <select id="exportCumulativeMaturityReport"  resultType="com.platform.finance.report.repo.ro.FinanceCumulativeMaturityReportListRO">
    <include refid="Query_Pub_Select_List"/>
    <include refid="Where_Pub_Column"/>
  </select>
</mapper>