<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.finance.report.repo.mapper.FinanceCumulativeActualRepaymentReportMapper">
  <!--查询公用字段-->
  <sql id="Query_Pub_Select_List">
    SELECT
     fcarr.funding_party fundingParty,
     fcarr.channel_type channelType,
     fcarr.channel_name channelName,
     fcarr.is_drainage isDrainage,
     fcarr.product_type productType,
     fcarr.product_child_type productChildType,
     fcarr.pay_type payType,
     fcarr.pay_date payDate,
     fcarr.repay_date repayDate,
     fcarr.compensatory_date compensatoryDate,
     fcarr.buyout_date buyoutDate,
     fcarr.pay_status payStatus,
     fcarr.overdue_grade overdueGrade,
     fcarr.actual_principal_amount actualPrincipalAmount,
     fcarr.actual_interest_amount actualInterestAmount,
     fcarr.actual_penalty_amount actualPenaltyAmount,
     fcarr.actual_service_amount actualServiceAmount,
     fcarr.actual_prepare_amount actualPrepareAmount,
     fcarr.actual_principal_amount+fcarr.actual_interest_amount+fcarr.actual_penalty_amount+fcarr.actual_service_amount+fcarr.actual_prepare_amount totalAmount
    FROM
    finance_cumulative_actual_repayment_report fcarr
  </sql>

  <!--查询公用条件-->
  <sql id="Where_Pub_Column">
    <where>
      1=1
      <if test="list.fundingParty != null and list.fundingParty !=''">
        AND fcarr.funding_party = #{list.fundingParty}
      </if>
      <if test="list.channelType != null and list.channelType != ''">
        AND fcarr.channel_type = #{list.channelType}
      </if>
      <if test="list.channelName != null and list.channelName != ''">
        AND fcarr.channel_name = #{list.channelName}
      </if>
      <if test="list.productType != null and list.productType != ''">
        AND fcarr.product_type = #{list.productType}
      </if>
      <if test="list.productChildType != null and list.productChildType != ''">
        AND fcarr.product_child_type = #{list.productChildType}
      </if>
      <if test="list.payDateStart != null and list.payDateStart !=''">
        AND fcarr.pay_date &gt;= #{list.payDateStart}
      </if>
      <if test="list.payDateEnd != null and list.payDateEnd !=''">
        AND fcarr.pay_date &lt;= #{list.payDateEnd}
      </if>
      <if test="list.payType != null and list.payType !=''">
        AND fcarr.pay_type = #{list.payType}
      </if>
      <if test="list.repayDateStart != null and list.repayDateStart !=''">
        AND fcarr.repay_date &gt;= #{list.repayDateStart}
      </if>
      <if test="list.repayDateEnd != null and list.repayDateEnd !=''">
        AND fcarr.repay_date &lt;= #{list.repayDateEnd}
      </if>
      <if test="list.compensatoryDateStart  != null and list.compensatoryDateStart  !=''">
        AND fcarr.compensatory_date &gt;= #{list.compensatoryDateStart}
      </if>
      <if test="list.compensatoryDateEnd != null and list.compensatoryDateEnd !=''">
        AND fcarr.compensatory_date &lt;= #{list.compensatoryDateEnd}
      </if>
      <if test="list.buyoutDateStart != null and list.buyoutDateStart  !=''">
        AND fcarr.buyout_date &gt;= #{list.buyoutDateStart}
      </if>
      <if test="list.buyoutDateEnd != null and list.buyoutDateEnd !=''">
        AND fcarr.buyout_date &lt;= #{list.buyoutDateEnd}
      </if>
      <if test="list.payStatus != null and list.payStatus !=''">
        AND fcarr.pay_status = #{list.payStatus}
      </if>
      <if test="list.overdueGrade != null and list.overdueGrade !=''">
        AND fcarr.overdue_grade = #{list.overdueGrade}
      </if>
    </where>
  </sql>

  <!--分页查询实还表-->
  <select id="selectCumulativeActualRepaymentReport" resultType="com.platform.finance.report.repo.ro.FinanceCumulativeActualRepaymentReportListRO">
    <include refid="Query_Pub_Select_List"/>
    <include refid="Where_Pub_Column"/>
  </select>

  <!--导出实还表-->
  <select id="exportCumulativeActualRepaymentReport"  resultType="com.platform.finance.report.repo.ro.FinanceCumulativeActualRepaymentReportListRO">
    <include refid="Query_Pub_Select_List"/>
    <include refid="Where_Pub_Column"/>
  </select>
</mapper>