<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.finance.report.repo.mapper.FinanceCompensatoryCumulativePartnersReportMapper">
  <!--查询公用字段-->
  <sql id="Query_Pub_Select_List">
    SELECT
     fccpr.funding_party fundingParty,
     fccpr.channel_type channelType,
     fccpr.channel_name channelName,
     fccpr.product_type productType,
     fccpr.compensatory_date compensatoryDate,
     fccpr.principal_amount principalAmount,
     fccpr.interest_amount interestAmount,
     fccpr.penalty_amount penaltyAmount,
     fccpr.service_amount serviceAmount,
     fccpr.principal_amount+fccpr.interest_amount+fccpr.penalty_amount+fccpr.service_amount totalAmount
    FROM
    finance_compensatory_cumulative_partners_report fccpr
  </sql>

  <!--查询公用条件-->
  <sql id="Where_Pub_Column">
    <where>
      1=1
      <if test="list.fundingParty != null and list.fundingParty !=''">
        AND fccpr.funding_party = #{list.fundingParty}
      </if>
      <if test="list.channelType != null and list.channelType != ''">
        AND fccpr.channel_type = #{list.channelType}
      </if>
      <if test="list.channelName != null and list.channelName != ''">
        AND fccpr.channel_name = #{list.channelName}
      </if>
      <if test="list.productType != null and list.productType != ''">
        AND fccpr.product_type = #{list.productType}
      </if>
      <if test="list.compensatoryDateStart != null and list.compensatoryDateStart !=''">
        AND fccpr.compensatory_date &gt;= #{list.compensatoryDateStart}
      </if>
      <if test="list.compensatoryDateEnd != null and list.compensatoryDateEnd !=''">
        AND fccpr.compensatory_date &lt;= #{list.compensatoryDateEnd}
      </if>
    </where>
  </sql>

  <!--分页查询代偿表-->
  <select id="selectCompensatoryCumulativePartnersReport"  resultType="com.platform.finance.report.repo.ro.FinanceCompensatoryCumulativePartnersReportListRO">
    <include refid="Query_Pub_Select_List"/>
    <include refid="Where_Pub_Column"/>
  </select>

  <!--导出代偿表-->
  <select id="exportCompensatoryCumulativePartnersReport"  resultType="com.platform.finance.report.repo.ro.FinanceCompensatoryCumulativePartnersReportListRO">
    <include refid="Query_Pub_Select_List"/>
    <include refid="Where_Pub_Column"/>
  </select>
</mapper>