<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.finance.report.repo.mapper.FinanceCumulativeLoanReportMapper">
  <!--查询公用字段-->
  <sql id="Query_Pub_Select_List">
    SELECT
     fclr.funding_party fundingParty,
     fclr.channel_type channelType,
     fclr.channel_name channelName,
     fclr.is_drainage isDrainage,
     fclr.product_type productType,
     fclr.product_child_type productChildType,
     fclr.effective_date effectiveDate,
     fclr.term,
     fclr.loan_principal_amount loanPrincipalAmount
    FROM
    finance_cumulative_loan_report fclr
  </sql>

  <!--查询公用条件-->
  <sql id="Where_Pub_Column">
    <where>
      1=1
      <if test="list.fundingParty != null and list.fundingParty !=''">
        AND fclr.funding_party = #{list.fundingParty}
      </if>
      <if test="list.channelType != null and list.channelType != ''">
        AND fclr.channel_type = #{list.channelType}
      </if>
      <if test="list.channelName != null and list.channelName != ''">
        AND fclr.channel_name = #{list.channelName}
      </if>
      <if test="list.productType != null and list.productType != ''">
        AND fclr.product_type = #{list.productType}
      </if>
      <if test="list.productChildType != null and list.productChildType != ''">
        AND fclr.product_child_type = #{list.productChildType}
      </if>
      <if test="list.effectiveDateStart != null and list.effectiveDateStart !=''">
        AND fclr.effective_date &gt;= #{list.effectiveDateStart}
      </if>
      <if test="list.effectiveDateEnd != null and list.effectiveDateEnd !=''">
        AND fclr.effective_date &lt;= #{list.effectiveDateEnd}
      </if>
    </where>
  </sql>

  <!--分页查询放款表-->
  <select id="selectCumulativeLoanReport" resultType="com.platform.finance.report.repo.ro.FinanceCumulativeLoanReportListRO">
    <include refid="Query_Pub_Select_List"/>
    <include refid="Where_Pub_Column"/>
  </select>

  <!--导出放款表-->
  <select id="exportCumulativeLoanReport"  resultType="com.platform.finance.report.repo.ro.FinanceCumulativeLoanReportListRO">
    <include refid="Query_Pub_Select_List"/>
    <include refid="Where_Pub_Column"/>
  </select>
</mapper>